doctype html
html
  head
    title= "mainpage"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mainPage.css')
    script(src='javascripts/search.js')
  body
    nav(id="menu")
      ul
        li
          a(href=`/`) SHOP
        li
          form(action="" method="GET" class="form")
            input(type="text" id="searchBar" placeholder="wyszukaj swój produkt...")
            button(type="submit" class="search-button" onclick="search()")
              img(src='images/search.png' alt='search')
        li
          a(href=`/login`) LOGIN
      block content
