doctype html

script.
  var value = ""
  function render() {
    document.body.innerHTML = myTemplate({value: value});
  }
  document.getElementById('glass').addEventListener('click', function () {
    value = document.getElementById('searchBar').value;
    console.log(value)
    render();
  }, false);
html
  head
    title= "mainpage"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mainPage.css')
    link(rel='stylesheet', href='/stylesheets/products.css')

  body
    nav(id="menu")
      ul
        li
          a(href=`/`) SKLEP
        li
          form(action="/search/" method="GET" class="form")
            input(type="text" id="searchBar" placeholder="wyszukaj swój produkt..." name="search")
            button(type = "submit" class="search-button")
              img(src='../images/search.png' alt='search' id="glass")
        li
          a(href=`/login`) ZALOGUJ
      block content
