doctype html
html
    head
        title= "mainpage"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/mainPage.css')

    body
        nav(id="menu")
            ul
                li
                    a(href=`#`) SHOP
                li
                    form(action="" method="GET" class="form")
                        input(type="text" id="searchBar" placeholder="search for your product...")
                        button(type="submit" class="search-button")
                            img(src='~@/images/search.png' alt='search')
                li
                    a(href=`/logout`) LOG OUT
            block content