doctype html
script.
    var value = ""
    function render() {
        document.body.innerHTML = myTemplate({value: value});
    }
    document.getElementById('glass').addEventListener('click', function () {
        value = document.getElementById('searchBar').value;
        console.log(value)
        render();
    }, false);
html
    head
        title= "mainpage"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/mainPage.css')
        link(rel='stylesheet', href='/stylesheets/products.css')
        link(rel='stylesheet', href='/stylesheets/card.css')

    body
        nav(id="Loggedmenu")
            ul
                li
                    a(href=`/loggedUser/`) SKLEP
                li
                    form(action="/loggedUser/search" method="GET" class="form")
                        input(type="text" id="searchBar" placeholder="wyszukaj produkt..." name="search")
                        button(type="submit" class="search-button")
                            img(src='../images/search.png' alt='search')
                li
                    a(href="../card") KOSZYK
                li
                    a(href=`/logout`) WYLOGUJ
            block content