doctype html
html
    head
        title= "mainpage"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/mainPage.css')
        link(rel='stylesheet', href='/stylesheets/products.css')

    body
        nav(id="Loggedmenu")
            ul
                li
                    a(href=`/loggedUser`) SKLEP
                li
                    form(action="../loggedUser" method="GET" class="form")
                        input(type="text" id="searchBar" placeholder="wyszukaj produkt...")
                        button(type="submit" class="search-button")
                            img(src='../images/search.png' alt='search')
                li
                    a(href="card") KOSZYK
                li
                    a(href=`/logout`) WYLOGUJ
            block content