extends loggedLayout
block content
    div(id="container")
        div(id="categoriesMenu")
            ol
                li
                    p
        div(id="mainContent")
            ul
                li
                    div
                        p(class="productName")
                        p(class="productPrice")