extends loggedLayout

block content
    div#container
        div#categoriesMenu
            ol
                each val in categories
                    li
                        div.categoryName
                            p #{val.name}
        div#mainContent
            ul
                each val in products
                    li
                        div.productContainer
                            img(src="data:image/jpg;base64," + val.image class="images")
                            p.productName #{val.name}
                            p.productOldPrice #{val.old}
                            p.productPrice #{val.price} zł