extends layout

block content
    div#productInfo
        div#productImage
            img(src="data:image/jpg;base64," + products.image)
        p#productName    #{products.name}
        p#productOldPrice #{products.old}
        p#productPrice #{products.price} zł

        div#productDetails
