#container{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: auto;
    grid-gap: 3%;
    padding: 2%;
}

#categoriesMenu{
    display: block;
    border: solid 1px black;
    float: left;
    overflow: auto;
}

#mainContent{
    display: block;
    border: solid 1px black;

}