
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}

#registerPage{
  margin: auto auto auto;
}
.loginPanel{
  border: solid 2px black;
  border-radius: 25px;
  padding: 15px;
  width: 30%;
  display: block;
  margin: 2vw auto 2vw;
}

.loginPanel label{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginPanel input{
  display: block;
  width: 50%;
  margin-bottom: 1vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}


.loginPanel input[type="submit"]{
  background-color: midnightblue;
  color: white;
  cursor: pointer;
}

.loginPanel input[type="submit"]:hover{
  background-color: cornflowerblue;
  color: black;
}

#menu{
  background-color: midnightblue;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border: solid 2px black;
  height: 100px;
}

#menu ul{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 13% 69% 13%;
  grid-gap: 1%;
  grid-template-rows: 100%;
}

a{
  color: white;
  text-decoration: none;
  font-size: xx-large;
}

#menu li{
  margin-top: 0;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#searchBar{
  width: 100%;
  border-radius: 100px;
  height: 1.5vw;
  outline: none;
}

.form {
  display: flex;
  flex-direction: row;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.search-button img:hover{
  cursor: pointer;
}

#searchBar[placeholder="search for your product..."]{
  color: grey;
}

#searchBar:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width: 1000px){
  .loginPanel{
    margin-top: 15vw;
    width: 80%;
    font-size: xx-large;
  }

  .loginPanel input{
    height: 45px;
    font-size: xx-large;
  }

  .loginPanel input[type="submit"]{
    background-color: cornflowerblue;
    height: 45px;
    font-size: xx-large;
  }

  #menu{
    height: 15vw;
    grid-template-columns: 20% 59% 20%;
  }

  #searchBar{
    height: 5vw;
    font-size: xx-large;
  }

  .search-button {
    margin-left: -50px;
  }
  .search-button img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
